html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	padding: 10px;
}
.topnav {
	overflow: hidden;
	background-color: pink;
}
.topnav a {
	float: right;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: #0D0D1D;
}
.topnav .title {
	float: left;
	display: block;
	color: #0D0D1D;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #1F1F8E;
	color: white;
	font-weight: bold;
}
.nav-active {
	font-weight: bold;
}
.topnav .icon {
	display: none;
}

.input-cart {
	background-color: #0D0D1D;
	color: #fff;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 300px;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {
	display: none;
	transition: all 0.4s ease;
}
.topnav a.icon {
	float: right;
	display: block;
}
}

@media screen and (max-width: 1049px) {	
.input-cart {
	width: 100%;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {
	position: relative;
}
.topnav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
}
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
}
}
.mySlides {
	display: none
}
img {
	vertical-align: middle;
	height: 100%;
	width: 100%
}
/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	height: 100%;
	position: relative;
	margin: auto;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	top: 0;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
 @-webkit-keyframes fade {
 from {
opacity: .4
}
 to {
opacity: 1
}
}
 @keyframes fade {
 from {
opacity: .4
}
 to {
opacity: 1
}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next {
	font-size: 11px
}
}
/*Untuk modal*/
:root {
 --modal-duration: 0.5s;
 --modal-color: #0D0D1D;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
	margin: 10% auto;
	width: 60%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: var(--modal-duration);
}
.modal-content-md {
	width: 40%;
}
.modal-header h2, .modal-footer h3 {
	margin: 0;
}
.modal-header {
	background: var(--modal-color);
	padding: 15px;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-body {
	padding: 10px 20px;
	background: #fff;
}
.modal-footer {
	background: var(--modal-color);
	padding: 10px;
	color: #fff;
	text-align: right;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.close {
	color: #ccc;
	float: right;
	font-size: 30px;
	color: #fff;
}
.close:hover, .close:focus {
	color: pink;
	text-decoration: none;
	cursor: pointer;
}
 @keyframes modalopen {
 from {
 opacity: 0;
}
 to {
 opacity: 1;
}
}
.form-input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
* {
	box-sizing: border-box;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
[class*="btn-"] {
	border: none;
	border-radius: 15px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
[class*="btn-"]:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-primary {
	background-color: pink;
	color: #0D0D1D;
}
.btn-secondary {
	background-color: #0D0D1D;
	color: #fff;
}
.btn-danger {
	background-color: red;
	color: #fff;
}
.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.dropshadow {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
}
.grid-item {
}

@media screen and (max-width: 600px) {
.grid-container {
	grid-template-columns: auto;
}
}
.img-pro {
	width: 100%;
	height: 200px;
}
.table {
	border-collapse: collapse;
	width: 100%;
}
.table th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.table tr:hover {
	background-color: #f5f5f5;
}

.cart .cart-child:nth-child(even){background-color: #FDF9F9;}

.grid-palet {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
}
.grid-item-palet {
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 8px;
	font-size: 30px;
	text-align: center;
}
.input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0
}
.input-group>.custom-file+.custom-file, .input-group>.custom-file+.custom-select, .input-group>.custom-file+.form-control, .input-group>.custom-select+.custom-file, .input-group>.custom-select+.custom-select, .input-group>.custom-select+.form-control, .input-group>.form-control+.custom-file, .input-group>.form-control+.custom-select, .input-group>.form-control+.form-control {
	margin-left: -1px
}
.input-group>.custom-file .custom-file-input:focus~.custom-file-label, .input-group>.custom-select:focus, .input-group>.form-control:focus {
	z-index: 3
}
.input-group>.custom-file .custom-file-input:focus {
	z-index: 4
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
.input-group>.custom-file {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}
.input-group>.custom-file:not(:last-child) .custom-file-label, .input-group>.custom-file:not(:last-child) .custom-file-label::after {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}
.input-group>.custom-file:not(:first-child) .custom-file-label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
.input-group-append, .input-group-prepend {
	display: -ms-flexbox;
	display: flex
}
.input-group-append .btn, .input-group-prepend .btn {
	position: relative;
	z-index: 2
}
.input-group-append .btn+.btn, .input-group-append .btn+.input-group-text, .input-group-append .input-group-text+.btn, .input-group-append .input-group-text+.input-group-text, .input-group-prepend .btn+.btn, .input-group-prepend .btn+.input-group-text, .input-group-prepend .input-group-text+.btn, .input-group-prepend .input-group-text+.input-group-text {
	margin-left: -1px
}
.input-group-prepend {
	margin-right: -1px
}
.input-group-append {
	margin-left: -1px
}
.input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: .25rem
}
.input-group-text input[type=checkbox], .input-group-text input[type=radio] {
	margin-top: 0
}
.input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
	height: calc(2.875rem + 2px);
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem
}
.input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
	height: calc(1.8125rem + 2px);
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem
}
.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
